@keyframes clock
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

.trackers

    &-wrap
        max-width: 480px
        margin: 0 auto
        text-align: center
        padding: tracker.ui-margin 0

    &-button-list
        @extends $clearfix
        display: inline-block
        padding-bottom: tracker.ui-margin

        &_item
            float: left
            max-height: tracker.button.size
            padding: 0 (tracker.button.gutter / 2)

            & + &
                border-left: 1px solid darken(colors.background, 25%)

    &-button,
    &-textbutton
        height: tracker.button.size
        line-height: height
        background: transparent
        text-align: center
        vertical-align: middle


    &-button
        width: tracker.button.size

        &::before
            content: ''
            display: inline-block
            height: 100%
            vertical-align: middle

    &-textbutton
        width: auto
        padding: 0 .4em
        color: colors.foreground
        text-transform: uppercase
        letter-spacing: .1em
        font-weight: font.weight.strong

        &:hover,
        &:focus
            color: colors.highlight

            #trackers-button--rem-all&,
            #trackers-button--merge-sel&
                color: colors.danger

    &-icon
        display: inline-block
        width: 65%
        height: auto
        vertical-align: middle

        circle,
        line
            stroke: colors.foreground

            .tracker--tracking &
                stroke: colors.foreground

            .tracker--not-tracking &
                stroke: colors.inactive

            .trackers-button:focus &,
            .trackers-button:hover &
                stroke: colors.highlight

        path
            fill: colors.foreground

            .trackers-button:focus &,
            .trackers-button:hover &
                fill: colors.highlight

        &--clock

            &_minutes,
            &_seconds
                transform-origin: 50% 100%
                animation: clock 60s infinite linear

                .tracker--not-tracking &
                    animation-play-state: paused

            &_seconds
                animation-duration: (1s)

    &-dialog

        &--remove,
        &--merge
            @extends $clearfix
            display: none

        .trackers-merge-mode &--merge,
        .trackers-delete-mode &--remove
            display: block

        &_col
            width: 50%
            float: left
            padding-top: tracker.ui-margin


    &-github
        position: absolute
        top: 12px
        right: 20px
        width: (tracker.button.size * .6)
        height: @width
        line-height: @width

.tracker
    position: relative
    vertical-align: top
    background: colors.background

    & + &
        margin-top: 1px

    &-row
        @extends $clearfix

    &-tracked,
    &-description,
    .trackers-button
        display: block
        float: left
        height: tracker.height

    &-tracked,
    &-description
        background-color: transparent
        outline: none
        border: 0
        padding: tracker.padding
        line-height: font.line-height.normal
        color: colors.inactive

        &::placeholder
            color: alpha(colors.inactive, .5)
            font-weight: font.weight.normal

        &:focus
            color: colors.highlight

            &::placeholder
                color: alpha(colors.highlight, .5)

        .tracker--tracking &
            font-weight: font.weight.strong
            color: colors.foreground

            &:focus
                color: colors.highlight

    &-tracked
        width: tracker.input.size
        text-align: center

    &-description
        width: 'calc(100% - %s)' % (tracker.height + tracker.input.size)
        overflow: hidden
        resize: none

    &-toggle.trackers-button

        .trackers-merge-mode &,
        .trackers-delete-mode &
            display: none

    &-remove.trackers-button
        display: none

        &:hover,
        &:focus

            line,
            circle
                stroke: colors.danger

        .trackers-delete-mode &
            display: block

    &-merge.trackers-button
        display: none

        .trackers-merge-mode &
            display: block
