colors = {
    background: #fff,
    foreground: #666,
    inactive: #aaa,
    highlight: #000,
    danger: #b10
}

font = {
    family: Roboto\, sans-serif,
    line-height: {
        small: 1.3,
        normal: 1.4,
        large: 1.2
    },
    size: {
        normal: 18px
    },
    weight: {
        normal: 400,
        strong: 700
    }
}

tracker = {
    height: 50px,
    input: {
        size: 120px
    },
    button: {
        size: 50px,
        gutter: 10px
    },
    margin: 10px
}

tracker.padding = ((tracker.height - (font.size.normal * font.line-height.normal)) / 2)
