doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Trackers
        meta(name="description", content="Simple time trackers.")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="/assets/css/main.css", rel="stylesheet")
        script
            :uglify-js
                (function(link) {
                    link.setAttribute("href","//fonts.googleapis.com/css?family=Roboto:400,700");
                    link.setAttribute("rel", "stylesheet");
                    link.setAttribute("type","text/css");
                    document.getElementsByTagName('head')[0].appendChild(link);
                })(document.createElement('link'));
body
    button#add-tracker.add-tracker
    ul#tracker-list.tracker-list
    script(src="/assets/js/main.js")
    script#tracker-template.tracker-template(type="text/html")
        :stripWhitespace
            <li class="tracker<%= tracking ? ' is-tracking' : '' %>">
                <textarea rows="1" cols="10" class="tracker-description" placeholder="Description…"><%= description %></textarea>
                <input type="text" class="tracker-tracked" value="<%= trackedFormatted %>">
                <button class="tracker-toggle"></button>
            </li>
