doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Trackers
        meta(name="description", content="Simple time trackers.")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="/assets/css/main.css", rel="stylesheet")
body
    #tracker
    script(src="/assets/js/libs.js")
    script(src="/assets/js/main.js")
